<!DOCTYPE html>
<html>
<head>
	<title>Once And Future Prints</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>

	<meta name="description" content="The Once And Future Prints - Limited Edition Hand Screened Posters by Dan Keezer.">
	<meta name="keywords" content="The Once And Future Prints, Once And Future Prints, once, future, prints, Future Prints, Dan Keezer, screen print, screen-print, silk screen, hand screen, poster, posters, band posters, show posters, concert, rock, Blood Brothers, Red Light Sting, Panthers, JR Ewing, Yeah Yeah Yeahs, Liars, International Noise Conspiracy, Moving Units, Pretty Girls Make Graves, Hella, These Arms Are Snakes, Oxes, Chromatics, Obama, Forest Fire, Sharon Van Etten">
	<meta name="title" content="The Once And Future Prints">
	<meta name="robots" content="index, follow">

	<style type = "text/css">

		body {
		  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

	</style>

</head>
<body>

<%= yield %>

</body>
</html>
